<?xml version="1.0" encoding="UTF-8"?>
<plugin id="cordova-plugin-vibratefight" version="1.0.0"
        xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android">

    <name>VibrateFight</name>

    <js-module src="www/vibratefight.js" name="VibrateFight">
        <clobbers target="cordova.plugins.VibrateFight" />
    </js-module>

    <platform name="ios">
        <source-file src="src/ios/VibrateFight.swift" />
        <podspec>
            <pods use-frameworks="true">
            </pods>
        </podspec>
        <!-- <config-file target="project.pbxproj" parent="targets">
            <build-settings>
                <SWIFT_VERSION>5.0</SWIFT_VERSION>
            </build-settings>
        </config-file> -->
        <config-file target="*-Info.plist" parent="NSAppTransportSecurity">
            <dict/>
        </config-file>
    </platform>

<platform name="android">
    <source-file src="src/android/VibrateFight.java" target-dir="src/com/example/vibratefight" />

    <feature name="VibrateFight">
        <param name="android-package" value="com.example.vibratefight.VibrateFight" />
        <param name="onload" value="true" />
    </feature>
</platform>

</plugin>
